.utilisateurs_result {
    background: none repeat scroll 0 0 #dddddd;
    border-top: 1px dotted #3d3a3a;
}

.utilisateur_gab {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 6px;
    overflow: hidden;
    width: 140px;
	font-weight:bold;
	color:#3D3A3A;
}
/*Utilisateur abonne 2 one other modif*/
.utilisateur_abonn_1 {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 6px;
    overflow: hidden;
    width: 80px;
	font-weight:normal;
	color:#3D3A3A;
}

.utilisateur_user {
    float: left;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    width: 83px;
	font-weight:bold;
	color:#3D3A3A;
}

.utilisateur_user_1 {
    float: left;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    width: 100px;
	font-weight:normal;
	color:#3D3A3A;
}

.utilisateur_status {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 8px;
    overflow: hidden;
    width: 140px;
	font-weight:bold;
	color:#3D3A3A;
}

.utilisateur_status_1 {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: -9px;
    overflow: hidden;
    width: 185px;
	font-weight:normal;
	color:#3D3A3A;
	text-align:center;
}
.utilisateur_activ {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 8px;
    overflow: hidden;
    width: 120px;
	font-weight:bold;
	color:#3D3A3A;
}

.utilisateur_tel {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 8px;
    overflow: hidden;
    width: 140px;
	font-weight:bold;
	color:#3D3A3A;
}
.utilisateur_date {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 8px;
	margin-right:13px;
    overflow: hidden;
    width: 140px;
	font-weight:bold;
	color:#3D3A3A;
}

.utilisateur_date_1 {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 8px;
    overflow: hidden;
    width: 94px;
	font-weight:normal;
	color:#3D3A3A;
}

.utilisateur_stat_1 {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: -13px;
	margin-right:29px;
    overflow: hidden;
    width: 99px;
	font-weight:normal;
	color:#3D3A3A;
}

.utilisateur_tel_1 {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 8px;
    overflow: hidden;
    width: 182px;
	font-weight:normal;
	color:#3D3A3A;
}

.utilisateur_action {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 8px;
    width: 70px;
	text-align:center;
	font-weight:bold;
	color:#3D3A3A;
}

.utilisateur_action_1 {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 8px;
    width: 100px;
	text-align:center;
	font-weight:normal;
	color:#3D3A3A;
}
.ajout_util{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #90E430;
    border-color: -moz-use-text-color #3d3a3a -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: none solid none none;
    border-width: 0 3px 0 0;
    color: #ffffff;
    height: 24px;
    width: 120px;
}


.abonn_bloc {
    margin-top: 10px;
    margin-bottom:50px;
}

.abonn_title{
    color: #3d3a3a;
    font-weight: bold;
    padding: 0 0 2px 10px;
}

.abonn_item {
    background: #CCCCCC;
    color: #aaaaaa;
    border-bottom: 1px solid #eeeeee;
}

.abonn_remove{
    float: left;
    height: 32px;
    margin:5px;
    width: 30px;
    background: url("../images/ic_close_tag.png") center no-repeat;
    cursor: pointer;
}

.abonn_facturier{
    float: left;
    color: #3d3a3a;
    font-weight: bold;
    margin: 5px;
    padding: 0 10px;
    line-height: 32px;
    height: 30px;
}

.abonn_numero{
    float: right;
    color: #3d3a3a;
    font-weight: bold;
    margin: 5px;
    padding: 0 10px;
    line-height: 32px;
    height: 30px;
    cursor: pointer;
}


.abonn_input {
    float: right;
    width: 35%;
    marginright: 5px;
}

.abonn_add_button {
    float: right;
}