/* CSS crunched with Crunch - http://crunchapp.net/ */
.flavr-container {
  position: fixed;
  text-align: center;
  visibility: visible;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  display: none;
  z-index: 999;
  margin: 0 -30px 0 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  /* IE 8 compability fixes */
  /* IE 8 & 9 compability fixes */
}
.flavr-container *,
.flavr-container *:before,
.flavr-container *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.flavr-container .cleafix:after,
.flavr-container.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
.flavr-container.modal {
  pointer-events: auto;
}
.flavr-container.shown {
  display: block;
}
.flavr-container.top-mid .flavr-fixer {
  margin: 0;
}
.flavr-container.top-left .flavr-fixer {
  position: fixed;
  margin: 0;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
}
.flavr-container.top-right .flavr-fixer {
  position: fixed;
  margin: 0;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
}
.flavr-container.bottom-left .flavr-fixer {
  position: fixed;
  margin: 0;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
}
.flavr-container.bottom-right .flavr-fixer {
  position: fixed;
  margin: 0;
  top: auto;
  right: 0;
  bottom: 0;
  left: auto;
}
.flavr-container.bottom-mid .flavr-fixer {
  position: fixed;
  margin: 0;
  top: auto;
  right: auto;
  bottom: 0;
  left: 50%;
  text-align: left;
}
.flavr-container.bottom-mid .flavr-fixer .flavr-outer {
  margin-left: -50%;
  width: 100%;
}
.flavr-container.fullscreen .flavr-fixer {
  margin-top: 0;
}
.flavr-container .flavr-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: inherit;
  background: rgba(0, 0, 0, 0.4);
}
.flavr-container .flavr-fixer {
  position: relative;
  margin: 12% auto 0;
  display: inline-block;
  width: auto;
  pointer-events: auto;
  -webkit-transition: margin 0.3s;
  -moz-transition: margin 0.3s;
  -o-transition: margin 0.3s;
  transition: margin 0.3s;
}
.flavr-container .flavr-fixer .flavr-outer {
    background: #FFFFFF;
  min-width: 300px;
  height: auto;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}
.flavr-container .flavr-fixer .flavr-outer .flavr-content {
  font-size: 14px;
    color: #000000;
  padding: 20px 30px 8px;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-icon {
  margin-top: 10px;
  margin-bottom: 10px;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-icon img {
  max-height: 75px;
  max-width: 75px;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-title {
  margin: 0;
  margin-bottom: 6px;
  font-size: 1.3em;
  line-height: 1.5;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message {
  margin-top: 6px;
  color: inherit;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  line-height: 1.5;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form .form-row {
  text-align: left;
  margin-top: 8px;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form input {
  display: block;
  width: 100%;
  border: 0;
  padding: 8px 6px 7px 15px;
  background-color: #2b4a9b;
  outline: none;
  height: 35px;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form input[type=checkbox],
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form input[type=radio] {
  display: inline;
  width: auto;
  margin-left: 12px;
  background-color: transparent;
  height: auto;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form input[type=checkbox]:first-child,
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form input[type=radio]:first-child {
  margin-left: 0;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form select {
  display: block;
  background-color: #f6f6f6;
  height: 36px;
  width: 100%;
  border: 0;
  outline: none;
  color: #666;
  padding: 6px 6px 7px 15px;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form label {
  font-size: 0.9em;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form button,
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form input[type=button],
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form input[type=submit],
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form input[type=reset],
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form a.btn {
  display: block;
  outline: none;
  text-decoration: none;
  padding: 8px 12px;
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  color: #fff;
  background-color: #ec4e08;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form button:hover,
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form button:focus,
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form input[type=button]:hover,
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form input[type=button]:focus,
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form input[type=submit]:hover,
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form input[type=submit]:focus,
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form input[type=reset]:hover,
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form input[type=reset]:focus,
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form a.btn:hover,
.flavr-container .flavr-fixer .flavr-outer .flavr-content .flavr-message form a.btn:focus {
  outline: none;
  background-color: #3e4b5d;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar {
  white-space: nowrap;
  padding: 0 30px 20px;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar .flavr-button {
  outline: none;
  display: block;
  text-decoration: none !important;
  padding: 7px 12px;
  margin-top: 8px;
  margin-bottom: 4px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.428571429;
  color: #fff;
    background-color: #5373b4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar .flavr-button:hover,
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar .flavr-button:focus {
  outline: none;
  background-color: #3e4b5d;
  color: #fff;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar .flavr-button.primary {
  background-color: #2980b9;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar .flavr-button.primary:hover,
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar .flavr-button.primary:focus {
  background-color: #3e4b5d;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar .flavr-button.success {
  background-color: #27ae60;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar .flavr-button.success:hover,
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar .flavr-button.success:focus {
  background-color: #3e4b5d;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar .flavr-button.info {
  background-color: #1fb5ad;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar .flavr-button.info:hover,
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar .flavr-button.info:focus {
  background-color: #3e4b5d;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar .flavr-button.warning {
  background-color: #f39c12;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar .flavr-button.warning:hover,
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar .flavr-button.warning:focus {
  background-color: #3e4b5d;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar .flavr-button.danger {
  background-color: #5373b4;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar .flavr-button.danger:hover,
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar .flavr-button.danger:focus {
  background-color: #3e4b5d;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar.inline .flavr-button {
  display: inline-block;
  width: auto;
  min-width: 120px;
  margin-left: 6px;
  margin-top: 2px;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar.inline .flavr-button:first-child {
  margin-left: 0;
}
.flavr-container .flavr-fixer .flavr-outer .flavr-toolbar.stacked .flavr-button:first-child {
  margin-top: 0;
}
.flavr-container.msie8 .flavr-overlay {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNiSAMAAG8AaYLq42UAAAAASUVORK5CYII=');
}
.flavr-container.msie8 .flavr-overlay.opacity-10 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNikAQAACIAHF/uBd8AAAAASUVORK5CYII=');
}
.flavr-container.msie8 .flavr-overlay.opacity-20 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNiMAYAADwANpiOMBYAAAAASUVORK5CYII=');
}
.flavr-container.msie8 .flavr-overlay.opacity-30 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNi8AEAAFUATydJphIAAAAASUVORK5CYII=');
}
.flavr-container.msie8 .flavr-overlay.opacity-40 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNiSAMAAG8AaYLq42UAAAAASUVORK5CYII=');
}
.flavr-container.msie8 .flavr-overlay.opacity-50 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNiqAcAAIgAgoGu+rEAAAAASUVORK5CYII=');
}
.flavr-container.msie8 .flavr-overlay.opacity-60 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNimAkAAKIAnNwSwMYAAAAASUVORK5CYII=');
}
.flavr-container.msie8 .flavr-overlay.opacity-70 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNi2AQAALsAtXXCpvIAAAAASUVORK5CYII=');
}
.flavr-container.msie8 .flavr-overlay.opacity-80 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNiOAMAANUAz5n+TlUAAAAASUVORK5CYII=');
}
.flavr-container.msie8 .flavr-overlay.opacity-90 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGNieAoAAO4A6HfO1f4AAAAASUVORK5CYII=');
}
.flavr-container.msie8 .flavr-overlay.opacity-100 {
  background-image: none;
    background-color: #fff;
}
.flavr-container.ie-overlay-false {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=');
}
