#div_export {
    width: 600px;
    /* margin: auto;*/
    position: fixed;
    z-index: 5;
    background: #FFFFFF;
    top:50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -300px;
    padding:10px;
    display: none;
}

#text_export{
    height: 50px;
    line-height: 50px;
    margin: 10px 0;
    background: #dddddd;
    text-align: center;
    color: #3d3a3a;
}

#text_export a {
    color: #fb1b1b;
    text-decoration: none;
    font-weight: bold;
}

#text_export a:hover {
    color: #ffcc00;
}

.div_label{
    float: left;
    height: 30px;
    line-height: 30px;
    width: 40%;
    padding-left: 1%;
    background: #dddddd;
}

.div_input{
    float: right;
    height: 30px;
    line-height: 30px;
    width: 50%;
}

.periode_div{
    padding: 5px;
    background: #FFFFFF;
}

#stat_div{
    padding: 5px;
    background: #FFFFFF;
    margin-top: 5px;
}

.div_line{
    background: #CCCCCC;
    border-bottom: 1px #FFFFFF solid;
}

.dateinput{
    color: #3d3a3a;
    height: 22px;
    line-height: 22px;
    border: 1px dotted #3d3a3a;
    margin: 0 1%;
    padding-left: 1%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}