<ul id="navigation">
    <li id="m_reglement"><a href="/accueil"><i class="fa fa-briefcase"></i> <span>Liste vouchers</span></a></li>
    <li id="m_facture"><a href="/utilisateurs"><i class="fa fa-archive"></i> <span>Utilisateurs</span></a></li>
    <!--<li id="m_facturier"><a href="/facturier"><i class="fa fa-building"></i> <span>Facturier</span></a></li>-->
</ul>
